*,
h1,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: SeasideResort;
    src: url(assets/SEASRN__.woff2);
}

.container {
    display: flex;
}

#ratio1 {
    width: 37%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#ratio2 {
    width: 63%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);

}

img[alt="img"] {
    height: 100vh;
}

.logo {
    position: absolute;
    top: 400px;
    left: 0px;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 200px;
    float: left;
}

.logo h1 {
    font-family: SeasideResort;
    color: white;
    font-size: 5vw;
}

#ratio2 h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

#ratio2>div {
    padding-left: 50px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form::after {
    width: 200px;
    height: 200px;
    background-color: white;
}