*,
h1,
p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SeasideResort;
    src: url(assets/SEASRN__.woff2);
}

.container {
    display: flex;
}

#ratio1 {
    width: 37%;
    height: 100vh;
    display: flex;
}

#ratio2 {
    width: 63%;
    height: 100vh;
    background-color: wheat;
}

img[alt="img"] {
    height: 100vh;
}

.logo {
    position: absolute;
    top: 400px;
    left: 100px;
    width: 100%
}

.logo img {
    height: 200px;
    float: left;
}

.logo h1 {
    font-family: SeasideResort;
    color: white;
    font-size: 5vw;
}