*,
h1,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: SeasideResort;
    src: url(assets/SEASRN__.woff2);
}

.container {
    display: flex;
}

#ratio1 {
    width: 37%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#ratio2 {
    width: 63%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.01);

}

span {
    font-style: italic;
}

img[alt="img"] {
    height: 100vh;
}

.logo {
    position: absolute;
    top: 400px;
    left: 0px;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 200px;
    float: left;
}

.logo h1 {
    font-family: SeasideResort;
    color: white;
    font-size: 5vw;
}

#ratio2 h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

#ratio2>div {
    box-sizing: border-box;
    padding-left: 50px;
    height: inherit;
    display: block;
    position: relative;
    padding-top: 200px;

}

h1+h1 {
    margin-top: 30px;
}

.formCtn {
    position: relative;
    margin-top: 70px;
}

.formCtn>h2 {
    margin-top: 50px;
    font-weight: 100;
    font-size: medium;
}

.txt-login {
    font-style: normal;
    color: #5F8575;
    font-weight: bold;
}

#ratio2::before {
    position: absolute;
    content: " ";
    height: 290px;
    background-color: white;
    top: 400px;
    width: inherit;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.5);
}

form {
    height: 200px;
    width: 800px;
    display: inline-block;

}

form>div {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form>div>div>input {
    margin-bottom: 20px;
}

form label {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: bold;
    font-size: small;
    display: block;
}

form input {
    height: 30px;
    width: 300px;
    border: gray solid;
    border-radius: 5px;
}

button {
    padding: 15px 50px;
    background-color: #5F8575;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}